# ============================================
# Python
# ============================================
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.dll

# ============================================
# Virtual Environment
# ============================================
venv/
env/
ENV/
.venv/

# ============================================
# Environment variables (VERY IMPORTANT)
# ============================================
.env
.env.*
!.env.example

# ============================================
# Logs
# ============================================
*.log
logs/
*.out

# ============================================
# VS Code
# ============================================
.vscode/

# ============================================
# PyCharm
# ============================================
.idea/

# ============================================
# OS Files
# ============================================
.DS_Store
Thumbs.db

# ============================================
# Build / Distribution
# ============================================
build/
dist/
*.egg-info/

# ============================================
# Cache
# ============================================
.cache/
.pytest_cache/

# ============================================
# Jupyter Notebook
# ============================================
.ipynb_checkpoint_
